.todo-content {
    display: flex;
    align-items: center;
}

.todo-checkbox {
    margin-right: 10px;
}

.todo-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.todo-text {
    font-size:20px;
    flex: 1;
}

.completed {
    text-decoration: line-through;
}

.remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #d32f2f;
}